.list-A{
    background-color: #ac9d89;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-bottom: 40px;
    color: #fff;

    -webkit-box-shadow: 0px 0px 10px 5px #9c9c9c14;
    -moz-box-shadow: 0px 0px 10px 5px #9c9c9c14;
    box-shadow: 0px 0px 10px 5px #9c9c9c14;
    transition: 0.2s;
}

.list-B{
    background-color: #fafafa;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.list-filter{
    background-color: #fafafa;
    width: 15%;
}

.list-product{
    background-color: #fafafa;
    margin: 0 0 0 40px;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto auto;
}