.discount{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px;
    padding: 30px 20px;
    min-width: 250px;
    max-width: 250px;
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 10px 5px #9c9c9c14;
    -moz-box-shadow: 0px 0px 10px 5px #9c9c9c14;
    box-shadow: 0px 0px 10px 5px #9c9c9c14;
    transition: 0.2s;
}

.discount:first-child{
    margin-left: 10px;
}

.discount:hover{
    cursor: pointer;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: 0.2s;
}

.discount-img{
    background-color: #ffffff;
    width: 200px;
    height: 250px;
}

.discount-name{
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0 0 0;
}

.discount-price{
    color: #861f1f;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0 0 0;
}

.discount-brand{
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0 0 0;
}

.discount-btn{
    background-color: #f6f6f6;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;

    cursor: pointer;
    width: 200px;
    height: 50px;
    margin: 10px 0 0 0;
}

.discount-btn:hover{
    background-color: #7fc4f1;
    color: #fff;
}

.discount-btn:active{
    background-color: #449cd6;
}