header{
    color: #333;
}

.navFather{
    display: flex;
    justify-content: space-between;
}

.navChild-A{
    margin: 30px;
    cursor: pointer;
} 

.navChild-B{
    display: flex;
} 

.child-A{
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 20px;
    cursor: pointer;
} 

.child-B{
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 40px;
    cursor: pointer;
} 