.list{
    background-color: #fafafa;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.list-filter{
    background-color: #fafafa;
    width: 15%;
}

.list-product{
    background-color: #fafafa;
    margin: 0 0 0 40px;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto auto;
}